<div class="h-100 d-flex flex-column table-responsive flex-grow-1 flex-fill m-1 p-2 border border-2 border-primary rounded-4 overflow-scroll-hidden">
  <div class="modal-header bg-primary text-light p-2">
    <h3 class="m-0 border-0 ">Receitas</h3>
    <button type="button" class="btn-close " aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
  </div>
  <form (ngSubmit)="onSaveClick()" [formGroup]="receitaForm" >
    <input id="id"  name="id" formControlName="id" type="hidden" class="form-control" [value]=0 />
    <mat-form-field appearance="outline" class="w-100 mt-2" readonly
      [ngClass]="{ 'is-invalid': receitaForm.get('idCategoria')?.errors?.['required'] &&  receitaForm.get('idCategoria')?.touched }" >
      <mat-label>Categorias</mat-label>
      <mat-select matInput id="idCategoria" name="idCategoria" formControlName="idCategoria" >
        <mat-option [value]="null" disabled selected >Nenhuma categoria selecionada</mat-option>
        <mat-option *ngFor="let categoria of categorias" [value]="categoria.id">{{ categoria.descricao }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100 "  >
      <mat-label>Data</mat-label>
      <input matInput [matDatepicker]="data" id="data" name="data" formControlName="data" type="text" placeholder="Entre com uma data válida"
        [ngClass]="{ 'is-invalid': receitaForm.get('data')?.errors?.['required'] &&  receitaForm.get('data')?.touched }" />
      <mat-datepicker-toggle matIconSuffix [for]="data"
        [ngClass]="{'text-danger': receitaForm.get('data')?.hasError('required') && receitaForm.get('data')?.touched,
                    '': !receitaForm.get('data')?.hasError('required')  || !receitaForm.get('data')?.touched }">
      </mat-datepicker-toggle>
      <mat-datepicker touchUi #data></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100 "  >
      <mat-label>Descrição</mat-label>
      <input matInput id="descricao" name="descricao" formControlName="descricao" type="text" placeholder="Entre com uma descrição"
        [ngClass]="{ 'is-invalid': receitaForm.get('descricao')?.errors?.['required'] &&  receitaForm.get('descricao')?.touched }" />
      <mat-icon matSuffix>
        <i class="text-danger bi bi-exclamation-circle position-absolute mx-2 my-1 top-0 end-0"
          [ngClass]="{'error-bi-input': receitaForm.get('descricao')?.hasError('required') && receitaForm.get('descricao')?.touched,
          'not-error-input': !receitaForm.get('descricao')?.hasError('required')  || !receitaForm.get('descricao')?.touched }">
        </i>
      </mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100 ">
      <mat-label>Valor</mat-label>
      <input matInput currencyMask  id="valor" name="valor" formControlName="valor" type="text"  placeholder="Entre com um valor > 0" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" class="text-start"
        [ngClass]="{ 'is-invalid': (receitaForm.get('valor')?.errors?.['required'] || receitaForm.get('valor')?.errors?.['greaterThanZero']) &&  receitaForm.get('valor')?.touched }" />
      <mat-icon matSuffix>
        <i class="text-danger bi bi-exclamation-circle position-absolute mx-2 my-1 top-0 end-0"
          [ngClass]="{'error-bi-input': receitaForm.get('valor')?.hasError('required') && receitaForm.get('valor')?.touched,
                    'not-error-input': (!receitaForm.get('valor')?.hasError('required') && !receitaForm.get('valor')?.hasError('greaterThanZero'))  || !receitaForm.get('valor')?.touched }">
        </i>
      </mat-icon>
    </mat-form-field>
    <div class="input-group mt-3  d-flex flex-column align-items-center justify-content-center">
      <button type="submit" class="btn btn-primary w-responsive"
        [ngClass]="{'disabled' : !receitaForm.valid}"  [disabled]="!receitaForm.valid" >
        Salvar</button>
    </div>
  </form>
</div>
