<div class="d-flex flex-column full-height">
    <nav class="navbar navbar-dark bg-dark fixed-top navbar-dark navbar navbar-expand-md navbar-expand-lg">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
          aria-controls="offcanvasDarkNavbar">
          <span class="navbar-toggler-icon"><i class="bi bi-list"></i></span>
        </button>
        <a class="navbar-brand offcanvas tituloHeader fs-6 fs-sm-5 fs-md-4 fs-lg-3 align-items-start" href="#">DESPESA$ PESSOAI$</a>
        <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel"></h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <div class="d-flex justify-content-start w-100 align-items-center">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item list-unstyled offcanvas-header">
                  <a class="navbar-brand fs-6 fs-sm-5 fs-md-4 fs-lg-3" href="/">DESPESA$ PESSOAI$</a>
                </li>
                <li class="nav-item list-unstyled menu">
                  <button class="nav-link menu-select" (click)="selectMenu(1)" [class.menu-select]="menuService.menuSelecionado == 1">
                    <i class="bi bi-house"></i> Home
                  </button>
                </li>
                <li class="nav-item list-unstyled menu">
                  <button class="nav-link" (click)="selectMenu(2)" [class.menu-select]="menuService.menuSelecionado == 2">
                    <i class="bi bi-layout-text-window"></i> Categoria
                  </button>
                </li>
                <li class="nav-item list-unstyled menu">
                  <button class="nav-link" (click)="selectMenu(3)" [class.menu-select]="menuService.menuSelecionado == 3">
                    <i class="bi bi-layout-text-window"></i> Despesas
                  </button>
                </li>
                <li class="nav-item list-unstyled menu">
                  <button class="nav-link" (click)="selectMenu(4)" [class.menu-select]="menuService.menuSelecionado == 4">
                    <i class="bi bi-layout-text-window"></i> Receitas
                  </button>
                </li>
                <li class="nav-item list-unstyled menu">
                  <button class="nav-link" (click)="selectMenu(5)" [class.menu-select]="menuService.menuSelecionado == 5">
                    <i class="bi bi-list-columns"></i> Lançamentos
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-end align-items-center">
          <ul>
            <li class="nav-item dropdown list-unstyled">
              <button class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                <img src="../../../../assets/perfil_static.png" alt="" width="32" height="32" class="rounded-circle me-2">
              </button>
              <ul class="dropdown-menu dropdown-menu-dark text-small shadow" style="left:-200%" aria-labelledby="dropdown">
                <li><button class="nav-link dropdown-item" (click)="selectMenu(6)"><i class="bi bi-person"></i> Perfil</button></li>
                <li><button class="nav-link dropdown-item" (click)="selectMenu(7)"><i class="bi bi-gear-fill"></i> Configurações</button></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><button class="nav-link dropdown-item"><i class="bi bi-power"></i> Sair</button></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="d-flex flex-column flex-grow-1 align-items-center justify-content-center">
        <span>Perfil</span>
    </div>
  </div>
  <footer class="bg-dark text-center text-white footer navbar-fixed-bottom">
    <div class="text-center fs-sm-4 fs-md-4 fs-lg-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright Honey TI. Todos os direitos reservados - Desenvolvido por Alex Ribeiro de Faria
    </div>
  </footer>
  