<div class="d-flex flex-column full-height ">
  <nav class="navbar navbar-dark bg-dark fixed-top navbar-dark navbar navbar-expand-md navbar-expand-lg">
    <div class="container-fluid">
      <button class="navbar-toggler " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
        aria-controls="offcanvasDarkNavbar">
        <span class="navbar-toggler-icon"><i class="bi bi-list"></i></span>
      </button>
      <a class="navbar-brand offcanvas fs-6 fs-sm-5 fs-md-4 fs-lg-3" href="#"  >DESPESA$ PESSOAI$</a>
      <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"  aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel"></h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <div class="d-flex justify-content-start w-100 align-items-center">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item list-unstyled offcanvas-header">
                <a class="navbar-brand fs-6 fs-sm-5 fs-md-4 fs-lg-3" href="#"  >DESPESA$ PESSOAI$</a>
              </li>
              <li class="nav-item list-unstyled">
                <a class="nav-link" href="/dashboard"><i class="bi bi-house"></i> Home</a>
              </li>
              <li class="nav-item list-unstyled">
                <a class="nav-link " href="/categoriaList"><i class="bi bi-layout-text-window"></i> Categoria</a>
              </li>
              <li class="nav-item list-unstyled">
                <a class="nav-link " href="/despesasList"><i class="bi bi-layout-text-window"></i> Despesas</a>
              </li>
              <li class="nav-item list-unstyled">
                <a class="nav-link " href="/receitasList"><i class="bi bi-layout-text-window"></i> Receitas</a>
              </li>
              <li class="nav-item list-unstyled">
                <a class="nav-link" href="/lancamentos"><i class="bi bi-list-columns"></i> Lançamentos</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-end align-items-center">
        <ul>
          <li class="nav-item dropdown list-unstyled  ">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
              <img src="../../../../assets/perfil_static.png" alt="" width="64" height="64" class="rounded-circle me-2">
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdown">
              <li><a class="nav-link dropdown-item" href="#"><i class="bi bi-person"></i> Perfil</a></li>
              <li><a class="nav-link dropdown-item" href="#"><i class="bi bi-gear-fill"></i> Configurações</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="nav-link dropdown-item" href="/logout"><i class="bi bi-power"></i> Sair</a></li>
            </ul>
          </li>
        </ul>
      </div>

    </div>
  </nav>
  <div class="d-flex flex-column flex-grow-1 align-items-center justify-content-center">
    Aqui entra os componentes Pages
  </div>
</div>
