
.full-height {
  height: 10%;
}

.footer {
  position: fixed;
  bottom:0;
  width: 100%;
}

.tituloHeader{
  color: lightcyan;
}

.menu-select
{
    background: rgb(27, 115, 183) !important;
    border-radius: 0.4rem;
    border-color: rgb(233, 224, 255);
    box-sizing: 1rem;
    cursor: pointer;

}
