.btn-barra-ferramenta {
  margin-right: 4px;
}

.md-outline.always-active-label .form-label {
  transform: translateY(-0.4rem) translateY(0.2rem) scale(.8);
  font-weight: bold;
  position: absolute;
}

.md-outline.always-active-label .form-notch-middle {
    border-right: none;
    border-left: none;
    border-top: 1px solid transparent !important;
}

@media (min-width: 768px) {
  .btn-barra-ferramenta {
    width: auto;
  }

  .btn-barra-ferramenta button {
    width: auto;
    margin-right: 4px;
    padding: 8px;
  }

  @media screen and (max-width: 540px) {
    .btn-barra-ferramenta {
      width: auto;
    }

    .btn-barra-ferramenta button {
      width: 10px;
      height: 10px;
      margin-right: 4px;
      padding: 8px;
      font-size: small;
    }
  }
}
