html, body {
  height: 100%;
  overflow: hidden;
}

h2 {
  font-size: 5vw;
  font-weight: bolder;
  margin: 2vw;
  color: white;
}

.max-height-scroll {
  max-height: 68vh;
  overflow-y: auto;
}

.content-header-max-height {
  height: 10vh;
}

.content-barra-ferramenta-max-height {
  height: 10vh;
  padding: 1vh;
  padding-bottom: 0;
  margin-bottom: 1vh;
}
.content-body-max-height {
  height: 80vh;
  max-width: 98vw;
  max-height: 78vh;
  margin-bottom: 1.4vh;
}

.scroll-content {
  scrollbar-width: 0;
  scrollbar-color: gray ;
  scroll-margin: 0;
  border: 0;
}

.scroll-content::-webkit-scrollbar-corner {
  width: 0;
}

/* Works on Chrome, Edge, and Safari */
.scroll-content::-webkit-scrollbar {
  width: 0.2rem;
  scroll-margin: 0;
}

.scroll-content::-webkit-scrollbar-track {
  scroll-margin: 0;
  background-color: transparent ;
  border: 0;
}

.scroll-content::-webkit-scrollbar-thumb {
  scroll-margin: 0;
  background-color: transparent ;
  border-radius: 0.4rem;
  border: 0.1rem solid gray;
}
